/*------------------------------------*\
  #UISHELL
\*------------------------------------*/

@layer components {
  .header-side-nav-group__divider {
    position: relative;
    display: inline-block;
    line-height: 1;
    margin-bottom: 0;
    padding-right: 8px;
  }
  .header-side-nav-group__divider::after {
    content: '';
    background: black;
    display: block;
    position: absolute;
    bottom: 2px;
    left: 100%;
    width: 100vw;
    height: 1px;
  }

  .header {
    @apply transition-all fixed duration-[400] mx-auto w-full z-10 backdrop-filter ease-in-out backdrop-blur-lg;
  }

  .header-inner {
    @apply w-full h-16 flex flex-row flex-wrap justify-between content-center z-50 md:h-20 lg:h-16 theme--default-layout border-b lg:border-0 border-[#e0e0e0];
  }

  .header-logo {
    @apply my-auto flex z-10;
  }

  .header-navbar__list {
    @apply flex flex-col absolute px-4 pt-4 bg-white pb-2 text-tiny whitespace-nowrap drop-shadow-lg rounded-xl 2xl:p-4 leading-normal;
  }

  .header-navbar-item {
    @apply header-menu__dropdown hover:header-menu__divider--hover focus:header-menu__divider--hover text-left z-10;
  }

  .header-menu__dropdown {
    @apply my-auto p-2 font-body text-tiny font-normal leading-5 sm:text-tiny md:relative sm:leading-6 hover:cursor-pointer md:ml-5 2xl:ml-8;
  }

  .header-menu__dropdown--active {
    @apply flex-col absolute top-[100%] left-[50%] -translate-x-1/2 px-4 pt-4 bg-white pb-2 text-tiny whitespace-nowrap drop-shadow-lg rounded-xl 2xl:p-4;
  }

  .header-menu__divider::after {
    z-index: 100;
    content: '';
    position: absolute;
    top: 100%;
    left: 8px;
    width: 50%;
    height: 2px;
    background-color: #006341;
  }

  .header-menu__divider--hover::after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 100%;
    left: 8px;
    width: 50%;
    height: 2px;
    opacity: 50%;
    background-color: #006341;
  }

  .header-side-panel {
    @apply fixed bg-midnight h-auto min-h-screen w-screen -ml-2 sm:-ml-4 overflow-x-hidden z-30 transition-all ease-out;
  }

  .header-side-panel--white {
    @apply fixed bg-smoke h-auto min-h-screen w-screen -ml-2 sm:-ml-4 overflow-x-hidden z-20 transition-all ease-out;
  }

  .header-side-panel--active {
    @apply opacity-100 translate-x-[15%] z-20;
  }

  .header-side-panel--closed {
    @apply opacity-0 translate-x-full;
  }

  .mobile-header-menu-group {
    @apply flex flex-col text-midnight mb-8 tracking-wide;
  }

  .mobile-header-menu-group-links {
    @apply text-midnight flex flex-col leading-6 font-body text-base space-y-2  font-normal;
  }
}
