/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

@layer components {
  .accordion--item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0px;
    background-color: #000;
  }
  .accordion--item--end::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    background-color: #000;
  }
  .button--link {
    @apply inline-flex flex-row w-fit;
  }
  .content-block--feed-item__body {
    @apply grid grid-cols-3 gap-x-4 sm:grid-cols-7  md:grid-cols-11 md:gap-x-4 lg:gap-x-8 col-span-3 sm:col-span-7 md:col-span-11 lg:col-span-11;
  }

  .content-block--feed-item__header {
    @apply uppercase col-span-full md:col-span-11 lg:col-span-4 font-body text-lg leading-6 font-bold sm:text-2xl md:text-2xl md:leading-tight md:font-bold xl:text-3xl xl:font-bold xl:leading-tight h-fit my-auto;
  }
  .content-block--feed-item__caption {
    @apply col-span-full uppercase md:col-span-11 lg:col-span-7 text--caption mt-2 md:mt-0 h-fit;
  }
  .content-block--quote {
    @apply col-span-full theme--grid_inner;
  }
  .content-block--quote_body {
    @apply col-span-full flex flex-col mt-4 px-4 pb-4 md:px-2 sm:col-span-4 md:col-span-6 xl:my-auto;
  }
  .content-block--quote_body-attributes {
    @apply flex flex-col text-right mt-8 sm:text-left md:mt-10 xl:mt-16;
  }
  .content-block--text {
    @apply col-span-full flex flex-col mt-4 px-4 pb-4 sm:px-2 sm:col-span-4 md:col-span-6 md:my-auto;
  }
  .content-block--media {
    @apply col-span-full sm:col-span-4 md:col-span-6;
  }
  .card--default-layout {
    @apply col-span-full flex flex-col sm:col-span-4 md:col-span-6 lg:col-span-4 md:block mx-2 sm:mx-0;
  }
  .card--no-body {
    @apply flex flex-col -mx-2 sm:mx-0 sm:w-1/2;
  }
  .card--2x-layout {
    @apply sm:flex sm:flex-row md:block md:w-1/2 mr-2 ml-2 md:mr-0 md:ml-0;
  }
  .eyebrow {
    @apply text--caption mb-3 sm:mb-4 xl:mb-5 uppercase;
  }
  .form--container {
    @apply my-12 md:my-16 lg:mt-0 col-span-full theme--grid_inner grid-rows-6 md:grid-rows-6 gap-y-8 md:gap-y-12 lg:gap-y-16 lg:mb-48;
  }
  .form--textarea-container {
    @apply col-span-full row-span-3 row-start-4 md:row-start-3 md:row-span-3 lg:col-span-8 flex flex-col relative;
  }
  .form--textarea {
    @apply h-full p-2 outline outline-1 outline-silver text--body;
  }
  .form--submit {
    @apply min-w-[120px] h-fit row-start-7 md:row-start-6 p-2 outline-1 outline flex flex-row justify-center items-center;
  }

  .footer--nav {
    @apply px-2 mt-16 grid grid-cols-2 gap-y-12 gap-x-4 col-span-full md:grid-cols-4 md:px-0 md:col-span-9 md:order-4 
    xl:col-span-8 xl:col-start-5 xl:mt-4 lg:px-12 lg:gap-x-8;
  }
  .header {
    @apply w-full h-16 flex flex-row flex-wrap justify-between content-center absolute z-50 md:h-20 md:static theme--default-layout;
  }
  .header-navbarlist {
    @apply flex-col absolute top-[100%] left-[50%] -translate-x-1/2 px-4 pt-4 bg-white pb-2 text-tiny whitespace-nowrap drop-shadow-lg rounded-xl 2xl:p-4;
  }
  .header-navbaritem {
    @apply header-menu--dropdown hover:header-menu--divider focus:header-menu--divider z-10;
  }
  .header-menu--dropdown {
    @apply my-auto p-2 font-body text-tiny font-light leading-5 sm:text-tiny md:relative sm:leading-6 hover:cursor-pointer md:ml-5 2xl:ml-8;
  }
  .header-menu--dropdown--active {
    @apply flex-col absolute top-[100%] left-[50%] -translate-x-1/2 px-4 pt-4 bg-white pb-2 text-tiny whitespace-nowrap drop-shadow-lg rounded-xl 2xl:p-4;
  }
  .header-menu--divider::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 8px;
    width: 50%;
    height: 2px;
    background-color: #006341;
  }
  .test::after {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: 0px;
    left: -100vw;
    right: -100vw;
    background-color: white;
    height: 200px;
  }

  .header--side-nav-group {
    @apply 
  }
  .header--side-panel {
    @apply fixed bg-midnight h-auto min-h-screen w-screen -ml-2 sm:-ml-4 overflow-x-hidden z-30 transition-all ease-out;
  }
  .header--side-panel--white {
    @apply fixed bg-smoke h-auto min-h-screen w-screen -ml-2 sm:-ml-4 overflow-x-hidden z-20 transition-all ease-out;
  }
  .header--side-panel--active {
    @apply opacity-100 translate-x-[15%] z-20;
  }
  .header--side-panel--closed {
    @apply opacity-0 translate-x-full;
  }
  .hero--grid-layout {
    @apply grid w-screen mx-auto grid-cols-4 gap-x-4
    sm:px-4 sm:grid-cols-8 sm:gap-x-8
    md:px-14 md:grid-cols-12 md:gap-x-4
    lg:px-12 lg:grid-cols-12 lg:gap-x-8
    xl:px-20 xl:grid-cols-12 
    max:px-20 max-w-1280;
  }
  .hero--title {
    @apply text-4xl font-bold text-center font-body uppercase md:text-7xl md:leading-none xl:leading-[56px] xl:tracking-tight col-span-full;
  }
  .hero--subtitle {
    @apply text-3xl w-auto text-center font-display col-span-full;
  }
  .hero--subtext {
    @apply text-sm font-normal w-auto text-center col-span-full font-body mt-8 md:text-tiny max:text-lg max:mt-12;
  }
  .section--heading {
    position: relative;
    display: inline-block;
    line-height: 1;
    margin-bottom: 0;
    padding-right: 8px;
  }
  .section--heading::after {
    content: "";
    background: black;
    display: block;
    position: absolute;
    bottom: 2px;
    left: 100%;
    width: 100vw;
    height: 1px;
  }
  .section--split-header::before {
    content: "";
    background: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 1px;
    right: 50%;
  }
  .section--split-header-default::before {
    content: "";
    background: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 1px;
    left: 0%;
  }
  .section--split-header-offset {
    @apply w-full relative py-8 theme--grid_inner;
  }

  .section--split-header-offset-divider::before {
    content: "";
    background: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 1px;
    left: 32.9%;
  }

  .section-header--vertical-dividers {
    @apply py-20 after:h-12 before:h-12 sm:after:h-16 sm:before:h-16 md:after:h-20 md:before:h-20 md:py-28 xl:py-32 section-header--vertical-divider__top section-header--vertical-divider__bottom;
  }

  .swiper--slide-width {
    @apply w-3/4 lg:w-3/4 xl:w-10/12 2xl:w-3/4 max-w-1120 !important;
  }
  .theme--default-layout {
    @apply px-2 sm:px-4 md:px-14 lg:px-12 xl:px-20 mx-auto max-w-1280;
  }
  .theme--grid {
    @apply px-2 grid w-screen grid-cols-4 gap-x-4
    sm:px-4 sm:grid-cols-8 sm:gap-x-4
    md:px-14 md:grid-cols-12 md:gap-x-4
    lg:px-12 lg:gap-x-8
    xl:px-20 max-w-1280;
  }
  .theme--grid_inner {
    @apply grid 
    grid-cols-4 gap-x-4
    sm:grid-cols-8 
    md:grid-cols-12 md:gap-x-4
    lg:gap-x-8;
  }

  .divider::after {
    position: absolute;
    content: "";
    background-color: #949494;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  .form--input-divider::after {
    position: absolute;
    width: 100%;
    content: "";
    height: 1px;
    background-color: #000;
    top: 100%;
  }

  .form--input-error {
    @apply absolute -bottom-6 left-2 text-tiny font-body font-normal text-red-500;
  }

  .form--input {
    @apply pl-2 py-1 sm:py-2 text--body;
  }

  .content-block--text-join {
    @apply lg:w-1/2 text--body space-y-6 mt-2 md:mt-4 lg:mt-0 max-w-3xl;
  }

  .section-header--vertical-divider::after {
    @apply absolute content-none bg-black h-full w-px left-1/2 translate-x-1/2;
  }

  .section-header--vertical-divider__top::before {
    position: absolute;
    content: "";
    background-color: #949494;
    height: 80px;
    width: 1px;
    opacity: 50%;
    top: 0px;
    left: 50%;
  }

  .section-header--vertical-divider__bottom::after {
    position: absolute;
    content: "";
    background-color: #949494;
    opacity: 50%;
    height: 80px;
    width: 1px;
    bottom: 0px;
    left: 50%;
  }
}
