/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

@layer utilities {
  .max-w-1440 {
    max-width: 1440px;
  }
  .max-w-1280 {
    max-width: 1280px;
  }
  .max-w-1120 {
    max-width: 1120px;
  }
  .animate--ease-in {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
